.dropdown-toggle {
    background: none;
    border: none;
    background-color: white;
    color: #36B7FF;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 700;
    text-align: left;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.dropdown-toggle img {
    padding-right: 8px;
}

.dropdown-list {
    list-style: none;
    text-align: left;
    column-count: 5;
    column-gap: 80px;
}

.dropdown-list-container {
    display: flex;
    flex-wrap: wrap;
    max-height: 300px;
    width: fit-content;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    color: black;
    background-color: white;
    transition: transform 400ms ease;
    transform: translatey(0px);
    z-index: 5;
}

.dropdown-item {
    padding: 4px;
    cursor: pointer;
}

.dropdown-item > a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}