.footer-container {
  background-color: #333;
  color: white;
  padding: 60px 120px 20px 120px;
  display: flex;
  justify-content: space-between;
  height: 300px;
}

.footer-columns {
  display: flex;
  width: 80%;
}

.footer-column {
  flex: 1;
  padding: 0 20px;
  text-align: left;
}

.footer-columns ul {
  list-style: none;
  margin-top: 10px;
  padding: 0;
}

.footer-columns ul li {
  margin-bottom: 8px;
}

.footer-columns a {
  color: white;
  text-decoration: none;
}

.footer-columns a:hover {
  text-decoration: none;
  cursor: pointer;
}

.newsletter {
  width: 20%;
}

.newsletter h3 {
  text-align: left;
  padding-bottom: 8px;
}

.newsletter input[type="email"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.newsletter button {
  width: 100%;
  padding: 10px;
  background-color: #36B7FF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.newsletter button:hover {
  background-color: #fff;
  color: #36B7FF;
}

.logo-midia {
  max-width: 24px;
  padding-right: 8px;
}

.midias-logos {
  padding-top: 5px;
}