.loading {
    font-size: 2rem;
    margin: 20px auto 0;
    animation: spin 1s infinite;
    width: 5%;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }