.navbarHome {
    background-color: #1591D7; /* Background color for the navbar */
    color: white; /* Text color for navbar items, adjust as needed */
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertically center items within the navbar */
    padding: 16px 32px;
    height: 64px;
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.fastTrade {
    font-size: 1.5rem; /* Adjust brand font size as needed */
    text-decoration: none;
    color: white; 
}

.fastTrade img {
    width: 64px;
    height: 64px;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items:center
}

.navbar-nav a {
    display: flex;
    align-items: center;
}

.navbar-nav img {
    align-self: center;
    max-width: 24px;
    max-height: 24px;
}

.nav-item {
    margin-left: 20px; /* Adjust spacing between navbar items */
}

.nav-a {
    text-decoration: none;
    color: white; /* Text color for navbar links */
    font-weight: bold; /* Adjust font weight as needed */
    transition: color 0.2s ease; /* Add a smooth color transition effect */
  }
  
.nav-a:hover {
  color: lightgray; /* Change text color on hover */
}

.userDetails {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-items: left;
    padding-left: 4px;
}

.user {
    display: flex;
    flex-direction: row;
}

.logout {
    background: none;
    border: none;
    color: white;
    font-size: 10px;
    text-align: left;
    padding: 0;
}

.bemVindo {
    text-align: left;
}